<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Status da solicitação de aprovação de Perfil</title>
</head>
<body>
<h1>Status da solicitação de aprovação de perfil</h1>
<p>Olá,</p>
<p>Você recebeu um novo status da solicitação de aprovação de perfil.</p>
<p>Detalhes do status da solicitação:</p>
<ul>
    <li th:if="${approvingUser != null}">
        <strong>Nome do aprovador:</strong> <span th:text="${approvingUser.username}"></span>
    </li>
    <li th:if="${requestingUser != null}">
        <strong>Nome do solicitante:</strong> <span th:text="${requestingUser.username}"></span>
    </li>
    <li><strong>Perfil:</strong> <span th:text="${role.name}"></span></li>
    <li><strong>Status:</strong> <span th:text="${status}"></span></li>
</ul>
<p>Obrigado,</p>
<p>Sua Equipe</p>
</body>
</html>
